# Python
__pycache__/
/.venv/
/venv/
**.pyc

# Envs
.env
.env.*
!.env.example

# Builds
/.build/
/build

# uv
/.python-version

# Exports & data
/.data
/data
/exports

# Notebooks
/.virtual_documents
/.jupyter
.ipynb_checkpoints
