APP_HOST=0.0.0.0
APP_PORT=8000

MODEL_EXTERNAL_ID=radiologynet-binary-necrosis-autopose
MODEL_DISPLAY_NAME=RadiologyNET Binary Necrosis Classifier
MODEL_VERSION=
MODEL_NAME=resnet50
MODEL_DEVICE=cpu
MODEL_NUM_CLASSES=2
CLASSIFICATION_THRESHOLD=0.5
IMAGE_SIZE=224

CLEARML_PROJECT_NAME=Tazotron
CLEARML_TASK_NAME=radiologynet_binary_necrosis_autopose
CLEARML_ARTIFACT_NAME=best_model_state_dict
